body {
    direction: rtl;
    background-image: url('../images/Patterns-free-2013-jan-15.jpg');
} /*הכנסת תמונת רקע לכל גוף האתר וכיוון טקסט*/

#container {
    width: 960px;
    margin: 0 auto;   
} /*קביעת רוחב קונטיינר ומרכוז- מותאם לתזוזת גלגלת עכבר*/

#container *{
font-family:'Guttman Hatzvi';
} /*משפחת פונט לכל התוכן בגוף האתר*/

.headerpic {
    background-image: url('../images/haderLine_optimized.png');
    display: inline-block;
    width: 847px;
    height: 208px;
    margin-top: -97px;
    background-size: 860px 328px;
} /*הגדרות עיצוב לתמונה אווירה בחלק העליון של כל העמודים באתר-מעל תפריט הניווט*/


nav ul li {
    display: inline-block;
    float: right;
} /*הגדרות מיקום תפריט הניווט*/

    nav ul li a {
        display: block;
        background-color: lightcoral;
        -webkit-border-radius: 200px 3px;
        border-radius: 200px 3px;
        color: whitesmoke;
        width: 148px;
        height: 32px;
        padding-top: 14px;
        padding-bottom: 0px;
        padding-left: 6px;
        margin-top: 9px;
        margin-left: 55px;
        text-decoration: none;
        text-align: center;
    } /*עיצוב תפריט הניווט*/

nav ul li a:hover {
    color: lavenderblush;
    font-size: 15pt;
    -webkit-box-shadow: 40px 10px 80px 10px #FF7070;
    box-shadow: 40px 10px 60px 10px #FF7070;
} /*אנימציית מעבר עכבר לתפריט הניווט*/

.here {
    font-size: 14pt;
    -webkit-box-shadow: 30px 10px 50px 10px #FF7070;
    box-shadow: 30px 10px 50px 10px #FF7070;
    color: black;
} /*עיצוב מצב "כאן" לתפריט הניווט */

#about {
    display: inline-block;
    margin: 200px,20px;
    display: block;
    top: 45px;
    position: relative;
    width: 544px;
} /*עיצוב ומיקום כל פסקת הכיתוב בעמוד הבית*/

#piska {
    font-size: 14pt;
    line-height: 37px;
    text-align: center;
    padding: 6px;
    margin-top: 12px;
} /*עיצוב לתוכן הפיסקה הראשונה בעמוד הבית*/

#coteret {
    font-size: 16pt;
    text-shadow: 10px 10px 5px #ff7070;
} /*עיצוב ספציפי לכותרת הראשית בעמוד הבית*/

#razpic {
    float: left;
    width: 200px;
    height: 200px;
    position: relative;
    right: 282px;
    bottom: 300px;
    transition: all 3s ease-in-out;
} /*עיצוב לתמונת הפנים המופיעה בעמוד הבית, כולל אנימציה*/

    #razpic:hover {
        height: 300px;
        width: 300px;
        -webkit-transition: all 3s ease-in-out;
        -moz-transition: all 3s ease-in-out;
        -o-transition: all 3s ease-in-out;
        transition: all 3s ease-in-out;
    } /*עיצוב מעבר העכבר לאנימציית תמונת הפנים*/

.brline {
    display: inline-block;
    width: 900px;
    background-image: url('../images/Asset 2.png');
    height: 14px;
    background-size: 900px 14px;
    position: relative;
    top: -46px;
} /*מיקום קו ההפרדה החוזר בעמודי האתר*/

#inwebsite {
    height: 300px;
} /*הגדרת גובה לפסקה התחתונה בעמוד הבית*/

#inwebsite p {
    font-size: 14pt;
    line-height: 37px;
    text-align: center;
    padding:10px 35px;
    margin-top: 12px;
} /*עיצוב לפסקה התחתונה בעמוד הבית, בשונה מהפסקה העליונה קיים הבדל בפאדינג*/

    #inwebsite h2 {
        font-size: 16pt;
        text-align: center;
        padding: 5px 5px;
        margin: 5px;
        display: block;
        text-shadow: 10px 10px 5px #ff7070;
    } /*עיצוב לתת כותרת של הפסקה התחתונה*/

h1 {
    display: inline-block;
    font-size: 16pt;
    text-align: center;
    padding: 21px 39px;
    margin: 15px;
    text-shadow: 10px 10px 5px #ff7070;
} /*עיצוב כולל לכותרות הראשיות באתר*/

p {
    margin-top: 10px;
    font-size: 12pt;
    line-height: 37px;
    text-align: right;
    padding: 10px 10px;
    margin: 5px 5px;
} /*עיצוב כולל לפסקאות התוכן באתר*/

h2 {
    display: block;
    font-size: 14pt;
    text-align: center;
    padding: 11px 39px;
    margin: 8px;
    text-shadow: 10px 10px 5px #ff7070;
} /*עיצוב כולל לתתי הכותרות האתר, אין באתר כותרת ברמה 3*/

#matzavhirum {
    height: 267px;
    width: 400px;
    padding: 23px 23px;
    margin-bottom: 102px;
    position: relative;
    right: 256px;
} /*עיצוב ומיקום תמונת התוצר בעמוד מצב חירום*/

#myvideo {
    position: relative;
    top: 45px;
    right: 196px;
} /*מיקום סרטון התוצר בעמוד מצב חירום*/

.final {
    position: relative;
    top: 20px;
    bottom: 100px;
    padding: 5px 120px;
    margin: 5px 145px;
} /*עיצוב ומיקום תמונות התוצר בשאר העמודים באתר*/

.mySong {
    padding: 20px 20px;
    margin: 20px 20px;
    position: relative;
    right: 272px;
} /*מיקום שורת ההפעלה של מוסיקת הרקע בעמודי האתר*/

